# This file contains regexes which a line must match in order
# to be counted. List the regexes in order of precedence.
#
# Do not include the loglevel or timestamp in the regex.
#
# If a pattern contains (a) group(s) i.e. (), that(those) group(s)
# will be extracted and counted separately to the base regex.
# each line is a regex literal, comment lines are ignored.
#
# "greplogconfig" is a required marker to identify this file.
#
# a single "loglevel" line is optional (default = WARN), 
# may set logging level to any of the following: 
# ERROR,WARN,INFO,TRACE.
#
# a single "nonmatch" line is optional (default = true). If
# true, output will aggregate nonmatching lines
# otherwise they will be ignored.

greplogconfig
logLevel = WARN
nonmatch = true

foobar (.*) was here
